apiVersion: apps/v1
kind: Deployment
metadata:
  name: boardgame
spec:
  replicas: 2
  selector:
    matchLabels:
      app: boardgame
  template:
    metadata:
      labels:
        app: boardgame
    spec:
      containers:
      - name: boardgame
        image: 203071037199.dkr.ecr.ap-south-1.amazonaws.com/boardgame:39.0
        ports:
        - containerPort: 8080
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: prod
        envFrom:
        - secretRef:
            name: db-secret
