apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: boardgame-monitor
  namespace: monitoring
spec:
  selector:
    matchLabels:
      app: boardgame
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 15s
